@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    button {
        @apply p-1 text-lg rounded mb-1;
        background-color: var(--button-bg-color, #B80000);
        transition: background-color 0.3s;
        color: var(--button-text-color,#ffff);
    }

    button:hover {
        background-color: var(--button-hover-bg-color, #DF826C);
        color: var(--button-text-color,black);
    }

    .button-blue {
        --button-bg-color: #211C6A;
        --button-hover-bg-color:#BBE2EC ;
    }

    .button-green {
        --button-bg-color: #50623A; 
        --button-hover-bg-color: #ADBC9F; 
    }
}